:root {
    font-family: 'Inter', sans-serif;
    --accent-color: #106c67;
    --primary-background-color: #fff;
    --secondary-background-color: #eee;
    --tertiary-background-color: #e5e5e5;
    --control-background-color: #fafafa;
    --text-color: #333;
    --secondary-text-color: #666;
    --max-width: 1024px;
    --subsection-border-radius: 16px;

    /* Fluid design specs min: 640 max: 1536 */
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.52rem + 0.11vw), 0.63rem);
    /*--margin-s: 10px*/
    --space-xs: clamp(0.88rem, calc(0.83rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.04rem + 0.22vw), 1.25rem);
    /*--margin-m: 20px*/
    --space-m: clamp(1.69rem, calc(1.55rem + 0.33vw), 1.88rem);
    /*--margin-l: 30px*/
    --space-l: clamp(2.25rem, calc(2.07rem + 0.45vw), 2.50rem);
    /*--margin-xl: 40px*/
    --space-xl: clamp(3.38rem, calc(3.11rem + 0.67vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.14rem + 0.89vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.21rem + 1.34vw), 7.50rem);

    /* Custom transitions */
    --space-3xs-xl: clamp(0.31rem, calc(-2.14rem + 6.14vw), 3.75rem);
    --space-s-l: clamp(1.13rem, calc(0.14rem + 2.46vw), 2.50rem);
    /* 18px - 40px */
    --space-2xs-m: clamp(0.56rem, calc(-0.37rem + 2.34vw), 1.88rem);
    /* 9px - 30px */

    /* Font size */
    /* Step -2: 12.50px → 12.80px */
    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    /* Step -1: 15.00px → 16.00px */
    --step--1: clamp(0.94rem, calc(0.89rem + 0.11vw), 1.00rem);
    /* Step 0: 18.00px → 20.00px */
    --step-0: clamp(1.13rem, calc(1.04rem + 0.22vw), 1.25rem);
    /* Step 1: 21.60px → 25.00px */
    --step-1: clamp(1.35rem, calc(1.20rem + 0.38vw), 1.56rem);
    /* Step 2: 25.92px → 31.25px */
    --step-2: clamp(1.62rem, calc(1.38rem + 0.59vw), 1.95rem);
    /* Step 3: 31.10px → 39.06px */
    --step-3: clamp(1.94rem, calc(1.59rem + 0.89vw), 2.44rem);

}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: radial-gradient(#888 0.5px, #fff 0.5px);
    background-size: 10px 10px;
    margin: auto;
    max-width: var(--max-width);
    font-size: var(--step--1);
}

h1 {
    font-size: var(--step-3);
}

h2 {
    font-size: var(--step-2);
    margin-block-start: 0;
    margin-block-end: 0.6em
}

h3 {
    font-size: var(--step-0);
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6;
}

.section {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: var(--space-l) var(--space-3xs-xl);
    background-color: var(--primary-background-color);
    color: var(--text-color);
    border-radius: 20px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.section .content {
    padding: var(--space-s-l);
    width: 100%;
}

@media (max-width: 768px) {

    /* reduce wasted space on mobile */
    .section#hero {
        margin-top: var(--space-3xs);
    }

    .section {
        margin-left: 0;
        margin-right: 0;
    }

    #hero picture {
        width: 100%;
        display: flex;
    }
}

#hero {
    position: relative;
    color: #fff;
    height: 400px;
}

#hero h1 {
    opacity: 0.85;
    margin: 0;
}

#hero img {
    width: 100%;
    object-fit: cover;
}

#hero .content {
    position: absolute;
    bottom: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    backdrop-filter: blur(6px);
}

#profile picture {
    display: flex;
    width: 100%;
}

#profile img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 768px) {
    #profile {
        flex-direction: column;
    }

    #profile picture {
        max-height: 280px;
        width: 100%;
    }
}

@media (min-width: 620px) and (max-width: 768px) {
    #profile img {
        object-position: 0 -40px;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs);
    font-size: var(--step--2);
    width: 100%;
}

.tags span {
    white-space: nowrap;
}

.subsection {
    position: relative;
    border-radius: var(--subsection-border-radius);
    background-color: var(--secondary-background-color);
    scroll-margin: var(--space-xs);
}

.subsection:not(:has(.front)) {
    padding: var(--space-3xs) var(--space-l);
}

.subsection h3 {
    display: flex;
    align-items: center;
}

.subsection .front {
    padding: var(--space-3xs) var(--space-l);
}

.subsection .back {
    padding: var(--space-xs) var(--space-l) var(--space-3xs) var(--space-l);
    border-bottom-left-radius: var(--subsection-border-radius);
    border-bottom-right-radius: var(--subsection-border-radius);
    background-color: var(--tertiary-background-color);
}

#mindset h3 {
    font-size: var(--step-0);
}

#mindset-triple {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    align-items: stretch;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#mindset-triple>:first-child {
    display: flex;
    align-items: center;
}

#mindset-triple>:last-child {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

#mindset-triple .separator {
    border-right: 1.5px solid var(--text-color);
}

.icon {
    margin-right: var(--space-2xs);
}

.rect-icon {
    padding: 1px;
}

#skills .icon {
    color: var(--accent-color);
    font-size: 1.2em;
}

img.icon {
    width: 35px;
}

@media (min-width: 768px) {
    #skills .subsection {
        min-height: 153px;
    }
}

h3 .secondary {
    color: var(--secondary-text-color);
    font-weight: 300;
    font-size: var(--step--1);
    margin-left: var(--space-3xs);
}

.list,
.grid {
    display: flex;
    gap: var(--space-s);
}

.list {
    flex-direction: column;
}

.grid {
    flex-wrap: wrap;
}

.grid>* {
    width: calc(50% - var(--space-s) / 2);
    height: 100%;
}

@media (max-width: 768px) {
    .grid>* {
        width: 100%;
    }
}

.list>* {
    width: 100%;
}

a:link,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

b,
a:link,
a:visited,
.icontext,
.tags span {
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

button,
.tags span,
a.button {
    background-color: var(--control-background-color);
    padding: var(--space-3xs) var(--space-2xs);
    border-radius: 8px;
    color: var(--accent-color);
}

button {
    position: absolute;
    right: var(--space-2xs);
    top: var(--space-2xs);
    display: none;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
}

button.active {
    display: block;
}

.collapsed {
    display: none;
}

.icontext {
    white-space: nowrap;
}

#infos {
    line-height: 1.9;
}

#infos i {
    min-width: 25px;
    text-align: center;
}

#infos > div {
    display: flex;
    gap: var(--space-3xs);
    align-items: baseline;
}

#contact .row {
    display: flex;
    justify-content: space-between;
    gap: var(--space-xs);
    margin: var(--space-m) 0;
}

#contact .row i {
    font-size: 1.4em;
}

a.button {
    display: flex;
    gap: var(--space-2xs);
    padding: var(--space-xs) var(--space-l);
    background-color: var(--secondary-background-color);
    justify-content: center;
    align-items: center;
}

#contact a.button {
    width: 100%;
}

#contact #listing {
    text-align: center;
    font-style: italic;
    font-size: var(--step--2);
}

@media (max-width: 768px) {
    #contact .row {
        flex-direction: column;
    }

    a.button {
        justify-content: unset;
        gap: var(--space-xs);
    }
}

footer {
    font-size: var(--step--2);
    display: flex;
    flex-direction: row-reverse;
    padding: 0 var(--space-3xs-xl) var(--space-xl) var(--space-3xs-xl);
    align-items: flex-start;
}

@media (max-width: 768px) {
    footer {
        justify-content: center;
    }
}

footer a.button {
    position: relative;
    background-color: var(--primary-background-color);
    box-shadow: 1.95px 1.95px 2.6px #00000026;
}

@media (hover: hover) {

    a.button:hover,
    button:hover,
    .tags span:hover {
        text-decoration: none;
        background-color: var(--accent-color);
        color: #f5f5f5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #1cb6af;
        --primary-background-color: #393838;
        --secondary-background-color: #464646;
        --tertiary-background-color: #4f4e4e;
        --control-background-color: #353535;
        --text-color: #e5e5e5;
        --secondary-text-color: #e5e5e5;
    }

    body {
        background-image: unset;
        background-color: #202020;
    }

    .section {
        box-shadow: unset;
    }

    #hero img {
        opacity: .8;
    }

    #profile img {
        opacity: .9;
    }
}

@media print {

    #hero,
    footer,
    button {
        display: none !important;
    }

    .section {
        box-shadow: unset;
        margin: 0;
        padding: var(--space-m) var(--space-l);
        overflow: unset;
    }

    .section .content {
        padding: 0;
    }

    .subsection {
        padding: 0;
    }

    .list,
    .grid {
        gap: var(--space-3xs);
    }

    #mindset,
    #skills,
    #projects {
        page-break-after: always;
    }

    h2 {
        margin-block-start: unset;
    }

    #profile {
        flex-direction: row;
    }

    #profile picture {
        width: 30%;
    }

    #profile img {
        max-height: 200px;
        border-radius: 8px;
    }

    #profile .content {
        margin-left: var(--space-s-l);
    }

    a.button {
        padding: 0;
        gap: var(--space-2xs);
    }

    #contact #listing {
        text-align: left;
    }
}