:root {
    font-family: 'Inter', sans-serif;
    --accent-color: #106c67;
    --max-width: 1280px;

    /* Fluid design specs min: 640 max: 1536 */
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.52rem + 0.11vw), 0.63rem); /*--margin-s: 10px*/
    --space-xs: clamp(0.88rem, calc(0.83rem + 0.11vw), 0.94rem); 
    --space-s: clamp(1.13rem, calc(1.04rem + 0.22vw), 1.25rem); /*--margin-m: 20px*/
    --space-m: clamp(1.69rem, calc(1.55rem + 0.33vw), 1.88rem); /*--margin-l: 30px*/
    --space-l: clamp(2.25rem, calc(2.07rem + 0.45vw), 2.50rem); /*--margin-xl: 40px*/
    --space-xl: clamp(3.38rem, calc(3.11rem + 0.67vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.14rem + 0.89vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.21rem + 1.34vw), 7.50rem);

    /* Custom transitions */
    --space-3xs-xl: clamp(0.31rem, calc(-2.14rem + 6.14vw), 3.75rem);
    --space-s-l: clamp(1.13rem, calc(0.14rem + 2.46vw), 2.50rem); /* 18px - 40px */
    --space-2xs-m: clamp(0.56rem, calc(-0.37rem + 2.34vw), 1.88rem); /* 9px - 30px */

    /* Font size */
    
    --step-0: clamp(1.13rem, calc(1.04rem + 0.22vw), 1.25rem); /* 18.00px - 20.00px */
    --step-1: clamp(1.35rem, calc(1.20rem + 0.38vw), 1.56rem); /* 21.60px - 25.00px */
    --step-2: clamp(1.62rem, calc(1.38rem + 0.59vw), 1.95rem); /* 25.92px - 31.25px */
    --step-3: clamp(1.94rem, calc(1.59rem + 0.89vw), 2.44rem); /* 31.10px - 39.06px */
   
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: radial-gradient(#888 0.5px, #fff 0.5px);
    background-size: 10px 10px;
    margin: auto;
    max-width: var(--max-width);
    font-size: var(--step--0);
}

h1 {
    font-size: var(--step-3);
}

h2 {
    font-size: var(--step-2);
}

h3 {
    font-size: var(--step-1);
    margin-bottom: 0.7em;
}

p {
    line-height: 1.4;
}

.section {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: var(--space-l) var(--space-3xs-xl);
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.section .content {
    padding: var( --space-s-l);
    width: 100%;
}

@media (max-width: 768px) {
    /* reduce wasted space on mobile */
    .section#hero {
        margin-top: var(--space-3xs);
    }

    #hero picture {
        width: 100%;
        display: flex;
    }
}

#hero {
    position: relative;
    color: #fff;
    height: 400px;
}

#hero h1 {
    opacity: 0.85;
    margin: 0;
}

#hero img {
    width: 100%;
    object-fit: cover;
}

#hero .content {
    position: absolute;
    bottom: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    backdrop-filter: blur(6px);
}

#profile picture {
    display: flex;
    width: 100%;
}

#profile img {
    width: 100%;    
    object-fit: cover;
}

@media (max-width: 768px) {
    #profile {
        flex-direction: column;
    }

    #profile picture {
        max-height: 280px;
        width: 100%;
    }
}

.row {
    display: flex;
    gap: var(--space-s);
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--accent-color);
    font-size: smaller;
    width: 100%;
}

.tags span {
    border-radius: 6px;
    background-color: #eee;
    padding: 1px 10px;
    line-height: 1.9em;
    white-space: nowrap;
    font-weight: 500;
    transition: box-shadow ease 0.2s;
}

@media (hover: hover) {
    .tags span:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        cursor: default;
    }
}

.subsection {
    border-radius: 16px;
    background-color: #eee;
    padding: var(--space-s);
    width: 100%;
}

.subsection > div {
    padding: 0 var(--space-s);
}

.subsection .tags span {
    background-color: white;
}

.subsection h3 {
    display: flex;
    align-items: center;
}

#mindset .row p:first-child {
    margin-bottom: -0.5em;
}

.icon {
    color: var(--accent-color);
    margin-right: var(--space-2xs-m);
}

@media (min-width: 768px) {
    .icon.mobile {
        display: none;
    }

    .icon {
        min-width: 50px; /* required for font-awesome icons */
        width: 50px;
        text-align: center;
        font-size: 2.5em;
        object-fit: scale-down;
        margin-left: var(--space-s);
    }
}

@media (max-width: 768px) {
    .icon:not(.mobile) {
        display: none;
    }

    .icon {
        font-size: 1.3em;
        /* margin-right: var(--margin-s); */
        max-width: 40px;
    }
}

#skills .subsection, #projects .subsection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

a:link, a:visited { 
    color: var(--accent-color);
    text-decoration: none;
}

a:link, a:visited, .icontext {
    font-weight: 500;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    
    margin-bottom: var(--space-m);
    padding: var(--space-s) var(--space-2xs);
    align-items: flex-start;
}

footer a {
    border-radius: 18px;
    background-color: #fff;
    padding: 15px 25px;
    box-shadow: 1.95px 1.95px 2.6px #00000026;
    position: relative;
    font-size: smaller;
}

footer a:hover {
    background-color: #eee;
    text-decoration: none;
}